body {
    display: flex;
    /*justify-content: center;*/
    /*align-items: center;*/
    height: calc(95vh - 30px);
}

main > img {
    width: 500px;
}

main {
    width: 70vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

main > .main {
    width: calc(100% - 500px);
}

main > .main > .title {
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 10px;
}

main > .main > form {
    display: flex;
    flex-direction: column;
    position: relative;
}

main > .main > form > input, main > .main > form > div > input {
    height: 3vh;
    margin-block: 10px;
    background-color: #0f151b;
    border: 1px solid #4b4b4b;
    outline: none;
}

input:focus {
    outline: none;
}

form > div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

form > div > button {
    width: 30px;
    height: 3vh;
    background-color: transparent;
    border: none;
    position: absolute;
    right: 5px;
}

form > div > input {
    width: 100%;
}

main > .main > form > button {
    width: 120px;
    padding: 10px 30px;
    border-radius: 60px;
    background: var(--kotlin-blue);
    border: none;
}

.error {
    margin-top: 10px;
    color: red;
}

@media (max-width: 600px) {
    main {
        flex-direction: column;
        justify-content: center;
    }

    main > .main {
        width: calc(100% - 0px);
    }

    main > img {
        width: 300px;
    }
}