section {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
}

.intro {
    height: calc(40vh);
    margin-top: 30vh;
}

.intro > img {
    width: 40vw;
    max-width: 600px;
}

.intro > .main > .title {
    font-size: 64px;
    font-weight: 500;
}

.intro > .main > .desc {
    font-size: 32px;
    color: var(--fainted-text);
    margin-bottom: 5vh;
}

.intro > .main > .started {
    background: var(--kotlin-blue);
    text-decoration: none;
    padding: 15px 30px;
    width: max-content;
    border-radius: 50px;
}

.transition {
    width: 100vw;
    height: 5vh;
    background: linear-gradient(90deg, var(--kotlin-pink), var(--kotlin-purple), var(--kotlin-blue));
}

.latestQuizes {
    width: calc(100% - 40px);
    height: 500px;
    padding: 0 20px;
}

.quiz {
    /*width: calc((100vw - 440px) / 4);*/
    height: 300px;
    width: 250px;
    background: #2b2b2b;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.quiz > img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.latestQuizes > .wrapper > .title {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 10px;
}

.latestQuizes > .wrapper > .quizes {
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

.quiz > .text > .title {
    font-size: 20px;
    font-weight: 500;

}

.text {
    padding: 5px 10px 10px 10px;
}

.quiz > .text > .questionAmount {
    color: var(--fainted-text);
    font-size: 14px;
}

.latestQuizes > .wrapper > .more {
    padding: 15px 30px;
    border: 1px solid var(--fainted-text);
    border-radius: 50px;
    text-decoration: none;
    margin-top: 10px;
    width: min-content;
    color: var(--fainted-text);
}

.startToday {
    height: 35vh;
    background: linear-gradient(90deg, var(--kotlin-pink), var(--kotlin-purple), var(--kotlin-blue));
    flex-direction: column;
    align-items: start;
    width: calc(100vw - 400px);
    padding: 0px 200px;
}

.startToday > .started {
    padding: 15px 30px;
    background: var(--backround);
    text-decoration: none;
    border-radius: 50px;
    font-size: 20px;
}

.startToday > .title {
    font-size: 36px;
    font-weight: 600;
}

.contactUs {
    width: calc(100vw - 400px);
    padding: 50px 200px;
    height: calc(55vh - 100px);
    display: flex;
    align-items: center;
}

.contactUs > .main > form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contactUs > .main > .title {
    font-size: 48px;
}

.contactUs > .main > form > input {
    background-color: var(--backround);
    height: 4vh;
    border: 1px solid #4b4b4b;
}

.contactUs > img {
    max-width: 600px;
    width: 25vw;
}

.contactUs > .main {
    width: 100%;
}

.contactUs > .main > form > button {
    padding: 10px 20px;
    width: max-content;
    border-radius: 50px;
    background: var(--backround);
    border: 1px solid #4b4b4b;
    margin-top: 5px;
}

@media (max-width: 1100px) {
    .quiz:last-child {
        display: none;
    }

    .contactUs > img {
        display: none;
    }

    .contactUs {
        width: calc(100vw - 100px);
        padding: 50px;
    }
}

@media (max-width: 900px) {
    .quiz:nth-last-child(2) {
        display: none;
    }

    .intro {
        flex-direction: column;
        margin-bottom: 50px;
    }

    .intro > img {
        width: 70vw;
        max-width: 500px;
    }

    .startToday {
        width: calc(100vw - 100px);
        padding: 0 50px;
    }
}

@media (max-width: 600px) {
    .quiz:nth-last-child(3) {
        display: none;
    }
}